.places {
  margin: 0;
  padding: 0px 148px 92px 148px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 80px; 
}
@media screen and (max-width: 1279px) {
  .places {
    padding: 0px 48px 92px 48px;
  }
}
@media screen and (max-width: 1023px) {
  .places {
    padding: 0px 24px 90px 24px;
    row-gap: 73px; 
  }
}
@media screen and (max-width: 767px) {
  .places {
    padding: 0px 0px 66px 0px;
    row-gap: 50px; 
  }
}