.intro__list {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 92px;
  list-style-type: none;
}
@media screen and (max-width: 1023px) {
  .intro__list {
    padding-bottom: 88px; /*исправлен отсуп intro->photo-grid на vw=768-1023px*/
  }
}
@media screen and (max-width: 767px) {
  .intro__list {
    padding-bottom: 64px; /*исправлен отсуп intro->photo-grid на vw=320-767px*/
  }
}