.lead {
  margin: 0;
  padding: 0;
  padding-top: 136px;
  max-width: calc(1280px - 2*148px);  
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  .lead {
    padding-top: 128px;
    max-width: calc(100% - 2*(48*(100% - 1024px)/(1280 - 1024)));
  }
}
@media screen and (max-width: 1023px) {
  .lead {
    max-width: 100%;  
  }
}
@media screen and (max-width: 767px) {
  .lead {
    padding-top: 106px;
    max-width: max(320px, 100%);  
  }
}