.header__lang-link {
  margin: 0;
  padding: 0;
  position: relative;
  left: calc(100% - 176px - 48px - (24px + 28px + 18px + 28px));
  bottom: calc(46px + 28px - (28px + 52px));
  color: #FFF;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  border-bottom: 2px #2A2C2F solid;
}
.header__lang-link:last-child {
  left: calc(100% - 176px - 48px + 18px - (24px + 28px + 18px + 28px));
}
.header__lang-link:hover {  
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .header__lang-link {
    left: calc(100% - 176px - 24px  - (24px + 28px + 18px + 28px));
  }
  .header__lang-link:last-child {
    left: calc(100% - 176px - 24px + 18px - (24px + 28px + 18px + 28px) );
  }
}
@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px; 
    left: calc(100% - 142px - 16px - (16px + 22px + 18px + 22px) );
    bottom: calc(30px + 16px - (16px + 42px)); 
  }
  .header__lang-link:last-child {
    left: calc(100% - 142px - 16px + 18px - (16px + 22px + 18px + 22px) );
  }

}