.lead__image {
  margin: 0;
  padding: 0px 148px 8px;  /*width lead_image-2*148px на view-width>1280px*/
  width: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 1279px) {
  .lead__image {
    padding: 0px 48px 8px; /*width lead_image-2*48px на view-width=1024..1280px*/
  }
}
@media screen and (max-width: 1023px) {
  .lead__image {
    padding: 0px 0px 8px; 
  }
}