.place__link {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px; 
  color: #FFF;
}
.place__link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .place__link  {
    padding: 0px 16px 0px;
  }
}