.place__url-heading {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px; 
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
}
@media screen and (max-width: 767px) {
  .place__url-heading  {
    padding: 0px 16px 12px;
  }
}